<section class="section section--positioned section-{{ section.id }}">
  <div class="container">
    {%- if section.settings.background_image and section.settings.title_position == 'left' -%}
      <img data-src="{{ section.settings.background_image | img_url: '800x800' }}"
           alt="{{ section.settings.background_image.alt | escape }}"
           class="image-below-box image-below-box--pull image-below-box--horizontal-ratio lazyload image--fade-in">
    {%- endif -%}

    <div class="box box--with-image">
      {%- capture section_title -%}
        <div class="container_flex"><div id="insta-feed"></div>
    </div>
      {%- endcapture -%}

      {%- capture section_content -%}
        <div class="box__content box__content--large-padding">
          <hr class="box__separator hidden-thumb">

          <div class="rte">
            <h2 class="section__title h3">{{ section.settings.subheader }}</h2>
            {{ section.settings.content }}

            {%- if section.settings.button_text != blank -%}
              <a href="{{ section.settings.button_link }}" class="box__callout-button button button--primary">{{ section.settings.button_text | escape }}</a>
            {%- endif -%}
          </div>
        </div>
      {%- endcapture -%}

      {%- if section.settings.title_position == 'left' -%}
        {{ section_title }}
        {{ section_content }}
      {%- else -%}
        {{ section_content }}
        {{ section_title }}
      {%- endif -%}
    </div>

    {%- if section.settings.background_image and section.settings.title_position == 'right' -%}
      <img data-src="{{ section.settings.background_image | img_url: '800x800' }}"
           alt="{{ section.settings.background_image.alt | escape }}"
           class="image-below-box image-below-box--pull image-below-box--horizontal-ratio lazyload image--fade-in">
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Text with instagram grid",
  "class": "shopify-section__featured-text",
  "settings": [
    {
      "type": "select",
      "id": "title_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "text",
      "id": "subheader",
      "label": "section header",
      "default": "Your title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "text",
      "id": "button_alt_text",
      "label": "Button alt text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Text with instagram grid"
    }
  ]
}
{% endschema %}
